/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background-color: rgb(240,240,240);
}
body {
//  padding-top: 60px;
  background-color: rgb(240,240,240);
}

.pages {
  img {
    max-width: 100%;
  }
}